@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0EBE3;
  --foreground: #555555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0EBE3;
    --foreground: #555555;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .inputPesquisa{
  border-color: pink;
}

.inputPesquisa:focus {
  border-color: rgb(197, 24, 53); /* Garante que a borda fique rosa ao focar
} */
